@use "../abstracts/tokens" as *;

body {
  font-family: $font-bangla;
  color: $text-body;
  background-color: $bg-white;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-bangla;
  color: $text-dark;
  font-weight: 700;
  line-height: 1.3;
}

p {
  margin-bottom: 0.5rem;
}
